# Exercises

## Basics

### What happens if you add a float and an integer?

In [ ]:
1+3.0

4.0

The output will be a float.

### What happens if you mix numbers and bools in arithmetic expressions?

In [ ]:
print(1+True)

print(6-False)

2
6

True is converted to 1, and False is converted to 0.

### How does setting parenthesis change the result of a large arithmetic expression?

In [ ]:
print(1+2/3-4*5**6+7)
print(((1+2)/(3-4))*(5**6)+7)
print(((1+2)/(3-4))*5**(6+7))
print((1+2)/((3-4)*5**6+7))

-62491.333333333336
-46868.0
-3662109375.0
-0.0001920860545524395

Binding order is: parenthesis, exponentiation, multiplication and division, addition and subtraction, and then left-to-right (except for exponentiation, where it is right-to-left).

### Try print statements that include variables of different data types.

In [ ]:
myInt = 1
myFloat = 3.4
myString = "Flower"
myBool = True
print("Add:", myInt + myFloat)
print("Hello " + myString)
print(myString + " this: ", myBool-myFloat, " and that: ", myBool)

Add: 4.4
Hello Flower
Flower this:  -2.4  and that:  True

Remember: '+' for String concatenation, ',' for other types (which is actually another function call with more parameters, see section about functions).

### Reproduce each of the three error types.

#### Syntax error

In [ ]:
print("Hello" 5)

SyntaxError: ignored

#### Semantic error

In [ ]:
print("7+5 = ", 1+1)

7+5 =  2

We don't compute the right thing. In reality, this kind of error might be really hard to find, as you might be caught in a mistake in your understanding of the problem or its solution.

#### Runtime error

In [ ]:
x = "thisisastring" #Make this an input during runtime, see next section. 
print("5/x=", 5/x)

TypeError: ignored

If x is an input during runtime and can be anything (even non-numeric data type), the code will fail for some inputs but not for others.

## Lists

https://www.w3schools.com/python/python_lists.asp

## Input, Output, Repetitions and Conditions

### Write numeric data into a file using a loop, and read them into a list

In [ ]:
myFile = open("datafile.txt", "w") # Create file object for writing
for i in range(22):                # i goes from 0 to 21
    myFile.write(str(i*i)+"\n")    # write i squared into the file.
    
myFile.close()

In [ ]:
myFile = open("datafile.txt", "r") # Create file object for reading
data = myFile.readlines()          # Read file content into list
for datum in data:                 # For every element in the list:
    print(datum)                   # output the element

0

1

4

9

16

25

36

49

64

81

100

121

144

169

196

225

256

289

324

361

400

441

### Create a 2d list ("lists in a list") and access its elements

In [ ]:
myList = [[1, 2, 3], [4, 5], [6, 7, 8]]

print(myList[2][1]) # access the second element in the third sub-list

7

In [ ]:
for l in myList:
    print(l)

[1, 2, 3]
[4, 5]
[6, 7, 8]

In [ ]:
for sublist in myList:
    print("\n") # Line break
    for element in sublist:
        print(element)

1
2
3


4
5


6
7
8

### Do a nested loop.

In [ ]:
See example above. Another example:

In [ ]:
for x in ["a", "b", "c", "d"]:
    for y in range(4):
        print(x, y)

a 0
a 1
a 2
a 3
b 0
b 1
b 2
b 3
c 0
c 1
c 2
c 3
d 0
d 1
d 2
d 3

### What type of errors can try-except catch?

It can catch syntax errors and runtime errors, but no semantic errors.

## Functions

### Rewrite the function code example for this section with better function and variable names.

In [ ]:
def add(number1, number2):
	mySum = number1 + number2
	return mySum

def output(parameter):
	print("Here you go: ", parameter)

mySum = add(22, 55)

output(mySum)

It is good practise and makes reading code much easier to name functions and variables so that you immediately not what they do/are.

### Write your own function and let one be called from within the other

In [ ]:
def output(parameter):
	print("Here you go: ", parameter)

def outputBackwards(myList):
    for i in range(len(myList)):
        output(myList[-1-i])
        
numberList = [1,2,3,4,5,6,7]
outputBackwards(numberList)

Here you go:  7
Here you go:  6
Here you go:  5
Here you go:  4
Here you go:  3
Here you go:  2
Here you go:  1